/* БЛОК С КАРУСЕЛЬЮ */

/* Стили для стрелок навигации карусели примеров работ */
.work-swiper-next,
.work-swiper-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.work-swiper-next {
    right: -10px;
}

.work-swiper-prev {
    left: -10px;
}

.work-swiper-next img,
.work-swiper-prev img {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.7;
    object-fit: contain;
}

/* Стили для стрелок навигации галереи */
.gallery-swiper-next,
.gallery-swiper-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.gallery-swiper-next {
    right: -10px;
}

.gallery-swiper-prev {
    left: -10px;
}

.gallery-swiper-next img,
.gallery-swiper-prev img {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.7;
    object-fit: contain;
}


/* банеры в карусели */
.img-carousel {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Стили для слайдов карусели */
.swiper-slide {
  width: 100%;
  height: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-slide-active {
  transform: scaleY(1.1) !important;
  height: auto;
    transition: transform 0.3s ease-in-out;
  padding-top: 2%;
  padding-bottom: 2%;
}
/* Навигационные кнопки внутри слайда */
.swiper-slide-nav {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 20;
opacity: 0.5;
}
.swiper-slide-prev
/* сами кнопки навигации */
.swiper-slide-next, 
.swiper-slide-prev {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
} 
/* разворот кнопки next */
.swiper-slide-next {
    transform: rotate(180deg);
}
.swiper-slide-nav img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.5;
}


@media (max-width: 992px) {
  .swiper-slide-nav img {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    margin-top: 5rem;
  }
    .swiper-slide-active {
  transform: none !important;
  height: auto;
    }
  .work-swiper-slide,
  .gallery-swiper-slide {
    margin-top: 0.5rem;
  }
.swiper-slide-next img,
.swiper-slide-prev img {
    margin-left: -17px !important;
}
}