/* ДЛЯ КОНТАКТНОГО БЛОКА */
html, body {
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    text-align: center;
    color: rgba(41, 37, 73, 1);
    margin-bottom: 30px;
}

.contact-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: black;
    margin: 0;
    display: block; 
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0 !important;
    width: 100%;
    background-image: url(/media/bg_contact.png);
    background-size: cover;
}

.centered-box {
    background-color: rgba(255, 255, 255, 1);
    padding: 7rem;
    margin: 5rem;
    border-radius: 19px;
    text-align: center;
    box-shadow: 1px 4px 9.4px rgba(0, 0, 0, 0.5);
}

/* Для мобильных устройств */
@media (max-width: 810px) {
    h5 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .centered-box {
    padding: 2rem !important;
    margin: 1rem;
    }

    .contact-container {
        height: auto;
        padding: 2rem;
    }

    .contact-text {
        font-size: 1rem;
        display: block;
        margin-bottom: 5px; 
    }

}


@media (max-width: 987px) {
      .contact-text2 {
    display: block; 
    white-space: normal; 
  }
}