/* ДЛЯ КОНТАКТНОГО БЛОКА */
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    text-align: center;
    color: rgba(41, 37, 73, 1);
    margin-bottom: 30px;
}

.contact-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: black;
    margin: 0;
    display: block; /* Добавлено для гарантии отображения в блок */
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0 !important;
}

.centered-box {
    background-color: rgba(255, 255, 255, 1);
    padding: 7rem;
    margin: 5rem;
    border-radius: 19px;
    text-align: center;
    box-shadow: 1px 4px 9.4px rgba(0, 0, 0, 0.5);
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    h5 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .centered-box {
            padding: 2rem !important;
    margin: 30px;
    }

    .contact-container {
        height: auto;
    }

    .contact-text {
        font-size: 1rem;
        display: block;
        margin-bottom: 5px; /* Добавлен отступ между строками */
    }

    /* Специальные стили для каждой строки контактов */
    .contact-text:nth-child(1) {
        margin-top: 10px; /* Отступ сверху для первой строки */
    }

    .contact-text:nth-child(2) {
        margin-bottom: 5px; /* Отступ снизу для второй строки */
    }

    .contact-text:nth-child(3) {
        margin-bottom: 5px; /* Отступ снизу для третьей строки */
    }

    .contact-text:nth-child(4) {
        margin-bottom: 5px; /* Отступ снизу для четвертой строки */
    }
}

@media (min-width: 760px) and (max-width: 1216px) {
  .centered-box {
    padding: 2rem !important;
    margin: 50px;
  }
  .contact-container {
    height: auto;
  }
}