/* для ГАЛЕРЕИ РАБОТ */
.card-img-top {
    width: 100%;
    height: 16rem;
    border:none;
    border-radius: 29px;
    object-fit: cover;
}

.card {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .card-img-top {
        width: 75%;
        height: 16rem;
        border:none;
        border-radius: 29px;
    }
}

@media (width: 768px) {
    .card-img-top {
        display: block;
        width: 100%;
        height: 16rem;
        border:none;
        border-radius: 29px;
        object-fit: cover;
    }
    .card {
        border: none;
        display: flex;
    }
}
