/* для ГАЛЕРЕИ РАБОТ */
.card-img-top {
    width: 100%;
    height: 16rem;
    border:none;
    border-radius: 29px;
    object-fit: cover;
}

.card {
    border: none;
}


@media (max-width: 768px) {
    .card-img-top {
        width: 15rem;
        height: 15rem;
        border:none;
        border-radius: 29px;
        object-fit: cover;
    }
}

@media (width: 768px) {
    .card-img-top {
        display: block;
        width: 100%;
        height: 16rem;
        border:none;
        border-radius: 29px;
        object-fit: cover;
    }
    .card {
        border: none;
        display: flex;
    }
}
