/* лого в шапке */
.logo {
    width: 100%;
}
/* кнопка в шапке */
.header_button {
    background: #378BC5;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    width: auto; 
    height: auto;
    font-size: 1.1rem;
    white-space: nowrap; 
    padding: 5px 10px; 
    display: inline-block; 
}
/* иконка телефона */
.contact_icon_phone {
    width: 2.5vw;
    height: auto;
}
/* контакты в шапке */
.contacts {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0; 
    margin-left: 20px;
    text-align: start !important;
    white-space: nowrap; 
}
.contact-block {
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* Вертикальное выравнивание элементов в шапке */
.container .row {
    display: flex;
    align-items: center;
    text-align: center;
}
/* иконки контактов шапке */
.contact_icon {
    width: 3vw;
    height: auto;
    margin-right: 10px;
    object-fit: contain;
}



.burger-menu {
    font-size: 2.2rem;
    cursor: pointer;
}
hr {
    width: 100%;
    height: 1px;
    background: #000;
    margin: 10px 0;
}
.social-icons {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
hr {
    margin-top: -20px !important;
    margin-bottom: 10px !important;
}
.menu-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    margin: 5% auto;
    text-align: center;
}
.close-btn {
    width: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-burger-menu {
    display: none !important;
}

.container.d-none.d-lg-block {
    display: none !important;
}


@media(max-width: 767px) {
    .mobile-burger-menu {
        display: block !important;
    }
    .container.d-none.d-lg-block {
        display: none !important;
    }

    .close-btn {
        width: 24px;
    }
    .contact_icon_phone {
        width: 2rem;;
    }
    .logo {
        width: 15rem;
    }
    .contact_icon {
        width: 2rem;
        height: 2rem;
    }
    .contacts {
        font-size: 1.1rem;
    }
}

@media(min-width: 768px) {
    .container.d-none.d-lg-block {
        display: block !important;
    }

    .mobile-burger-menu {
        display: none !important;
    }
}
