/* лого в шапке */
.logo {
    width: 100%;
}
/* кнопка в шапке */
.header_button {
    background: #378BC5;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    width: auto; 
    height: auto;
    font-size: 1.2rem;
    white-space: nowrap; 
    padding: 8px 16px; 
    display: inline-block; 
}
/* иконка телефона */
.contact_icon_phone {
    width: 3vw;
    height: auto;
}
/* контакты в шапке */
.contacts {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0; 
    margin-left: 20px;
    text-align: start !important;
    white-space: nowrap; 
}
.contact-block {
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* Вертикальное выравнивание элементов в шапке */
.container .row {
    display: flex;
    align-items: center;
    text-align: center;
}
/* иконки контактов шапке */
.contact_icon {
    width: 3vw;
    height: auto;
    margin-right: 10px;
    object-fit: contain;
}



.burger-menu {
    font-size: 24px;
    cursor: pointer;
}
.modal-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.menu-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.d-none {
    display: none !important;
}
@media(max-width: 767px) {
    .d-none {
        display: none !important;
    }
    .d-block {
        display: block !important;
    }
}