/* для модального окна */
.modal {
  display: none; /* Окно изначально скрыто */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1000;
}

.modal-dialog {
  position: relative;
  /* центрирую всё что есть в окне */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  border-radius: 25px;
}
.modal-content {
      width: auto;
        padding: 20px;
    background: rgba(232, 236, 239, 1);
}
.modal-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 3rem;
    line-height: 1.1;
  text-align: center;
  color: #292549;
  /* всегда в одну строку */
  white-space: nowrap;
  margin: 0 auto !important;
}

.modal-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 0.5;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 1);
}
.icon-container {
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание */
  align-items: center; /* Вертикальное выравнивание */
  gap: 10px; /* Расстояние между иконками */
}

.contact_icon_modal {
  width: 3rem;
  height: 3rem;
}
.form-input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  font-size: 1.3rem;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  text-align: center;
}
.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
.modal-button {
    background: #378BC5;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: white;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto 10px;
    width: fit-content;
}
@media (max-width: 768px) {
  h6 {
    font-size: 1.3rem !important;
  }
  .modal-text {
    font-size: 1rem !important;
  }
}
