/* для блока ПРИМЕРЫ РАБОТ */
hr {
    height: 2px;
    background-color: rgba(204, 199, 207, 1);
    margin: 0 auto !important;

}
.work-card {
    width: 90%;
    height: 100%;
    background: #F4F9FB;
    box-shadow: -3px 5px 12.1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 20px;
}
.work-image {
    width: 16vw;
    height: 14vw;
    margin-top: 10px;
    border-radius: 23px;
    object-fit: cover;
}

.work-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10px;
text-align: start;
}

.work-details-container {
  padding: 20px; /* Добавьте нужный размер отступа */
}

.detail-row {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
  margin-bottom: 5px;
}

.detail-label {
  text-align: start;
}

.detail-value {
  text-align: end;
}
.price-value {
  font-weight: bold; 
}
.btn-primary {
  background-color: #378BC5;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17.6112px;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #2C7DBD;


}
@media (max-width: 768px) {
  .work-card {
    width: 75%;
    height: 100%;
    text-align: center;
  }
  .work-image {
    width: 90%;
    height: 15rem;
    margin-top: 10px;
    border-radius: 23px;
    object-fit: cover;
    /* центрируем картинку */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .work-name {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1216px) {
    .work-card {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}