/* лого в шапке */
.logo {
    width: 100%;
}
/* кнопка в шапке */
.header_button {
    background: #378BC5;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    width: auto; 
    height: auto;
    font-size: 1.2rem;
    white-space: nowrap; 
    padding: 8px 16px; 
    display: inline-block; 
}
/* иконка телефона */
.contact_icon_phone {
    width: 3vw;
    height: auto;
}
/* контакты в шапке */
.contacts {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0; 
    margin-left: 20px;
    text-align: start !important;
    white-space: nowrap; 
}
.contact-block {
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* Вертикальное выравнивание элементов в шапке */
.container .row {
    display: flex;
    align-items: center;
    text-align: center;
}
/* иконки контактов шапке */
.contact_icon {
    width: 3vw;
    height: auto;
    margin-right: 10px;
    object-fit: contain;
}


/* БЛОК С КАРУСЕЛЬЮ */
/* банеры в карусели */
.img-carousel {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Стили для слайдов карусели */
.swiper-slide {
  width: 100%;
  height: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper-slide-active {
  transform: scaleY(1.1) !important;
  height: auto;
    transition: transform 0.3s ease-in-out;
  padding-top: 2%;
  padding-bottom: 2%;
}
/* Навигационные кнопки внутри слайда */
.swiper-slide-nav {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 20;
opacity: 0.5;
}
.swiper-slide-prev
/* сами кнопки навигации */
.swiper-slide-next, 
.swiper-slide-prev {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* разворот кнопки next */
.swiper-slide-next {
    transform: rotate(180deg);
}


/* BLOCK1 С 5 ИКОНКАМИ */
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    color:rgba(41, 37, 73, 1);
}

/* для колонок */
.col-4 {
    text-align: left;
    padding: 25px;
    margin-top: 30px;
}
/* для иконок в блоке */
.icon-block1 {
    width: 6rem;
    height: 6rem;
    margin-left: 0px !important;
}
/* для заголовков в блоке */
.block1-head {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
    margin-top: 40px;
    white-space: nowrap; 
    display: inline-block;
}
/* для текста в блоке */
.block1-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
}



/* для блок Стоимость услуг */
/* Стили для карточек товаров */
.product-card {
    width: 90%;
    height: 100%;
    background: #F4F9FB;
    box-shadow: -3px 5px 12.1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.product-image {
    width: 16vw;
    height: 14vw;
    margin-top: 10px;
    border-radius: 13px;
    object-fit: cover;
}

.product-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 120%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.product-price {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #000000;
    text-align: center;
    margin: 10px 0;
}

.product-button {
    background: #378BC5;
    border-radius: 6px;
    padding: 13px;
    margin-bottom: 20px;
    color: white;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
}
.product-button:hover {
    background: #2C6FAB;
    /* плавное увеличение размера*/
    transition: all 0.3s ease-in-out;
}



/* Стили для формы заявки */
/* текст в форме */
.text-in-form {
    text-align: left;
    margin-bottom: 30px;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}
.text-form{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}
.request-form {
    background: rgba(55, 139, 197, 1);
    padding: 30px;
    border-radius: 25px;
    box-shadow: -3px 5px 12.1px rgba(0, 0, 0, 0.25);
}

.form-control, .form-select {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-top: 5px;
}
/* для placeholder */
.form-control::placeholder {
    opacity: 0.7;
}

.submit-button {
    background: rgba(255, 204, 130, 1) !important;
    border: none;
    color: rgba(38, 35, 35, 1) !important   ;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2vw !important;
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 40px;
}
.product-link {
    text-decoration: none;
    color: white;
}
.submit-button:hover {
    transition: all 0.3s ease-in-out;
}



/* для блока ПРИМЕРЫ РАБОТ */
hr {
    height: 2px;
    background-color: rgba(204, 199, 207, 1);
    margin: 0 auto;
}
.work-card {
    width: 90%;
    height: 100%;
    background: #F4F9FB;
    box-shadow: -3px 5px 12.1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 20px;
}
.work-image {
    width: 16vw;
    height: 14vw;
    margin-top: 10px;
    border-radius: 23px;
    object-fit: cover;
}

.work-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10px;
text-align: start;
}

.work-details-container {
  padding: 20px; /* Добавьте нужный размер отступа */
}

.detail-row {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
  margin-bottom: 5px;
}

.detail-label {
  text-align: start;
}

.detail-value {
  text-align: end;
}
.price-value {
  font-weight: bold; 
}
.btn-primary {
  background-color: #378BC5;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17.6112px;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #2C7DBD;
}




/* для ГАЛЕРЕИ РАБОТ */
.card-img-top {
    width: 100%;
    height: 16rem;
    border:none;
    border-radius: 29px;
    object-fit: cover;
}

.card {
    border: none;
}
/* для блока Преимущества натяжных потолков */
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2.5vw;
    text-align: center;
    color:white;
}

.icon-block2 {
    width: 6rem;
    height: 6rem;
    margin-left: 0px !important;
}

/* для заголовков в блоке */
/* для заголовков в блоке */
.block2-head {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    margin: 0;
    color: white;
    margin-top: 40px;
    white-space: nowrap; 
    display: inline-block;
}
/* для текста в блоке */
.block2-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: white;
    font-weight: 400;
    font-size: 1.1vw;
}


/* ДЛЯ КОНТАКТНОГО БЛОКА */
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.8vw;
    text-align: center;
    color:rgba(41, 37, 73, 1);
    margin-bottom: 30px;
}
.contact-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    text-align: center;
    color:black;
    margin: 0;
}
.contact-container   {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 0 !important; /* Убираем отступ снизу */
}


.centered-box {
  background-color: rgba(255, 255, 255, 1); /* Белый полупрозрачный фон */
  padding: 5vw;
  border-radius: 19px;
  text-align: center;
box-shadow: 1px 4px 9.4px rgba(0, 0, 0, 0.5);
}




/* для модального окна */
.modal {
  display: none; /* Окно изначально скрыто */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1000;
}

.modal-dialog {
  position: relative;
  /* центрирую всё что есть в окне */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  border-radius: 25px;
}
.modal-content {
      width: auto;
        padding: 20px;
    background: rgba(232, 236, 239, 1);
}
.modal-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 3rem;
    line-height: 1.1;
  text-align: center;
  color: #292549;
  /* всегда в одну строку */
  white-space: nowrap;

}
.modal-text {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 0.5;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 1);
}
.icon-container {
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание */
  align-items: center; /* Вертикальное выравнивание */
  gap: 10px; /* Расстояние между иконками */
}

.contact_icon_modal {
  width: 3rem;
  height: 3rem;
}
.form-input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  font-size: 1.3rem;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  text-align: center;
}
.close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}