/* лого в шапке */
.logo {
    width: 15vw;
}
/* кнопка в шапке */
.header_button {
    background: #378BC5;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    width: 10vw;
    height: 2vw;
}
/* иконка телефона */
.contact_icon_phone {
    width: 2vw;
    height: 2vw;
}
/* контакты в шапке */
.contacts {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    margin: 0; /* Убираем стандартные отступы параграфов */
    margin-left: 20px;
    text-align: left;
}
.contact-block {
    display: flex;
    align-items: center;
    justify-content: center; /* Смещение вправо */
}
/* Вертикальное выравнивание элементов в шапке */
.container .row {
    display: flex;
    align-items: center;
    text-align: center;
}
/* иконки контактов шапке */
.contact_icon {
    width: 2vw;
    height: 2vw;
    margin-right: 10px;
}


/* БЛОК С КАРУСЕЛЬЮ */
/* банеры в карусели */
.img-carousel {
    width: 100%;
}

/* Стили для слайдов карусели */
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Увеличиваем центральный слайд (пока не работает)*/
.swiper-slide-active {
  transform: scale(1.2);
  z-index: 10;
}

/* Навигационные кнопки внутри слайда */
.swiper-slide-nav {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 20;
}
/* сами кнопки навигации */
.swiper-slide-next, 
.swiper-slide-prev {
  cursor: pointer;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* разворот кнопки next */
.swiper-slide-next {
    transform: rotate(180deg);
}


/* BLOCK1 С 5 ИКОНКАМИ */
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2.5vw;
    text-align: center;
    color:rgba(41, 37, 73, 1);
}
/* для колонок */
.col-4 {
    margin-top: 40px;
    text-align: left;
}
/* для иконок в блоке */
.icon-block1 {
    margin-top: 30px;
    width: 6vw;
    height: 6vw;
}
/* для заголовков в блоке */
p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vw;
    margin: 0;
    margin-top: 20px;
}
/* для текста в блоке */
p1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
}
