/* лого в шапке */
.logo {
    width: 15vw;
}
/* кнопка в шапке */
.header_button {
    background: #378BC5;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    width: 10vw;
    height: 2vw;
}
/* иконка телефона */
.contact_icon_phone {
    width: 2vw;
    height: 2vw;
}
/* контакты в шапке */
.contacts {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    margin: 0; /* Убираем стандартные отступы параграфов */
    margin-left: 20px;
    text-align: left;
}
.contact-block {
    display: flex;
    align-items: center;
    justify-content: center; /* Смещение вправо */
}
/* Вертикальное выравнивание элементов в шапке */
.container .row {
    display: flex;
    align-items: center;
    text-align: center;
}
/* иконки контактов шапке */
.contact_icon {
    width: 2vw;
    height: 2vw;
    margin-right: 10px;
}


/* БЛОК С КАРУСЕЛЬЮ */
/* банеры в карусели */
.img-carousel {
    width: 100%;
}

/* Стили для слайдов карусели */
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Увеличиваем центральный слайд (пока не работает)*/
.swiper-slide-active {
  transform: scale(1.2);
  z-index: 10;
}

/* Навигационные кнопки внутри слайда */
.swiper-slide-nav {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 20;
}
/* сами кнопки навигации */
.swiper-slide-next, 
.swiper-slide-prev {
  cursor: pointer;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* разворот кнопки next */
.swiper-slide-next {
    transform: rotate(180deg);
}


/* BLOCK1 С 5 ИКОНКАМИ */
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2.5vw;
    text-align: center;
    color:rgba(41, 37, 73, 1);
}

/* для колонок */
.col-4 {
    margin-top: 40px;
    text-align: left;
    padding: 25px;
}
/* для иконок в блоке */
.icon-block1 {
    margin-top: 30px;
    width: 6vw;
    height: 6vw;
    margin-left: 0px !important;
}
/* для заголовков в блоке */
p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.1vw;
    margin: 0;
    margin-top: 40px;
}
/* для текста в блоке */
p1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
}



/* для блок Стоимость услуг */
/* Стили для карточек товаров */
.product-card {
    width: 90%;
    height: 100%;
    background: #F4F9FB;
    box-shadow: -3px 5px 12.1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.product-image {
    width: 16vw;
    height: 14vw;
    margin-top: 10px;
    border-radius: 13px;
    object-fit: cover;
}

.product-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    line-height: 120%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.product-price {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    color: #000000;
    text-align: center;
    margin: 10px 0;
}

.product-button {
    width: 10vw;
    height: 2.5vw;
    background: #378BC5;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}
.product-button:hover {
    background: #2C6FAB;
    color: #FFFFFF;
    /* плавное увеличение размера*/
    transition: all 0.3s ease-in-out;
}
.product-button-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1vw;
    color: #FFFFFF;
    margin: 0;
}



/* Стили для формы заявки */
/* текст в форме */
.text-in-form {
    text-align: left;
    margin-bottom: 30px;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    color: white;
}
p2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
    color: white;
}
.request-form {
    background: rgba(55, 139, 197, 1);
    padding: 30px;
    border-radius: 25px;
    box-shadow: -3px 5px 12.1px rgba(0, 0, 0, 0.25);
}

.form-control, .form-select {
    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
    border-radius: 6px;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-top: 5px;
}
/* для placeholder */
.form-control::placeholder {
    opacity: 0.5;
}

.submit-button {
    background: rgba(255, 204, 130, 1) !important;
    border: none;
    color: rgba(38, 35, 35, 1) !important   ;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2vw !important;
    padding: 10px 30px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 40px;
}
.submit-button:hover {
    background: rgba(255, 204, 130, 1);
    color: rgba(38, 35, 35, 1);
}



/* для блока ПРИМЕРЫ РАБОТ */
hr {
    height: 2px;
    background-color: rgba(204, 199, 207, 1);
    margin: 0 auto;
}
.work-card {
    width: 90%;
    height: 100%;
    background: #F4F9FB;
    box-shadow: -3px 5px 12.1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 20px;
}
.work-image {
    width: 16vw;
    height: 14vw;
    margin-top: 10px;
    border-radius: 23px;
    object-fit: cover;
}

.work-name {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  color: #000000;
  margin-bottom: 10px;
text-align: start;
}

.work-details-container {
  padding: 20px; /* Добавьте нужный размер отступа */
}

.detail-row {
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: #000000;
  margin-bottom: 5px;
}

.detail-label {
  text-align: start;
}

.detail-value {
  text-align: end;
}
.price-value {
  font-weight: bold; /* Делает текст жирным */
}
.btn-primary {
  background-color: #378BC5;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17.6112px;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #2C7DBD;
}


