/* лого в шапке */
.logo {
    width: 15vw;
}
/* кнопка в шапке */
.header_button {
    background: #378BC5;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    width: 10vw;
    height: 2vw;
}
/* иконка телефона */
.contact_icon_phone {
    width: 2vw;
    height: 2vw;
}
/* контакты в шапке */
.contacts {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0; /* Убираем стандартные отступы параграфов */
    margin-left: 20px;
    text-align: left;
}
.contact-block {
    display: flex;
    align-items: center;
    justify-content: center; /* Смещение вправо */
}
/* Вертикальное выравнивание элементов в шапке */
.container .row {
    display: flex;
    align-items: center;
    text-align: center;
}
/* иконки контактов шапке */
.contact_icon {
    width: 2vw;
    height: 2vw;
    margin-right: 10px;
}







.img-carousel {
    width: 100%;
    height: 100%;
}

/* Стили для слайдов карусели */
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80% !important;
  position: relative;
}

/* Увеличиваем центральный слайд */
.swiper-slide-active {
  transform: scale(1.2);
  z-index: 10;
}

/* Навигационные кнопки внутри слайда */
.swiper-slide-nav {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 20;
}
.swiper-slide-next, 
.swiper-slide-prev {
  cursor: pointer;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide-next {
    transform: rotate(180deg);
}
