/* лого в шапке */
.logo {
    width: 15vw;
}
/* кнопка в шапке */
.header_button {
    background: #378BC5;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    width: 10vw;
    height: 2vw;
}
/* иконка телефона */
.contact_icon_phone {
    width: 2vw;
    height: 2vw;
}
/* контакты в шапке */
.contacts {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0; /* Убираем стандартные отступы параграфов */
    margin-left: 20px;
    text-align: left;
}
.contact-block {
    display: flex;
    align-items: center;
    justify-content: center; /* Смещение вправо */
}
/* Вертикальное выравнивание элементов в шапке */
.container .row {
    display: flex;
    align-items: center;
    text-align: center;
}
/* иконки контактов шапке */
.contact_icon {
    width: 2vw;
    height: 2vw;
    margin-right: 10px;
}







.img-carousel {
    width: 100%;
    height: 130% !important;
}
/* Увеличиваем центральный слайд */
.swiper-slide-active {
  transform: scale(1.1);
  z-index: 10;
}

/* Эффект анимации масштабирования */
.swiper-slide {
  transition: all 0.3s ease;
}

/* Кнопки навигации */
.swiper-button-prev,
.swiper-button-next {
  color: #000;
  font-weight: bold;
}