/* лого в шапке */
.logo {
    width: 15vw;
}
/* кнопка в шапке */
.header_button {
    background: #378BC5;
    font-family: 'Inter', sans-serif;
}
/* контакты в шапке */


/* иконки контактов шапке */