{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ТВОЙ НАТЯЖНОЙ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/work_card.css' %}">
    <link rel="stylesheet" href="{% static 'css/galary.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    {% comment %} логотип для сайта {% endcomment %}
    <link rel="icon" href="media/icons/your_stretch_logo.png" type="image/png">
  </head>
  <body>
{% comment %} Шапка {% endcomment %}
<div class='container d-none d-lg-block'>
    <div class='row d-flex align-items-center'>
        <div class='col-3'>
            {% comment %} Логотип {% endcomment %}
            <img src="media/icons/logo.png" alt="logo" class='logo'>
        </div>
        <div class='col-3'>
            {% comment %} кнопка {% endcomment %}
            <button class='header_button open-modal'>Заказать звонок</button>
        </div>
        <div class='col-3'>
            <div class="d-flex align-items-center contact-block">
                <img src="media/icons/phone.png" alt="" class="contact_icon_phone">
                <div>
                    <p class="contacts">+7 964 650 03 02</p>
                    <p class="contacts">900-302</p>
                </div>
            </div>
        </div>
        <div class='col-3 social-icons'>
            {% comment %} иконки в строку{% endcomment %}
            <a href="https://t.me/#6756192030"><img src="media/icons/telegram.png" alt="" class='contact_icon'></a> 
            <a href="https://wa.me/79960521646"><img src="media/icons/whatsapp.png" alt="" class='contact_icon'></a>
            <a href="https://max.ru/u/f9LHodD0cOJtavduYdK7ZtD21Fd_YO8TFXzv-AU2hiDjP37UOZyCI68rZJk"><img src="media/icons/max.png" alt="" class='contact_icon'></a>
        </div>
    </div>
</div>

{% comment %} Шапка мобильная (будет скрыта на десктопе) {% endcomment %}
<div class='container-fluid d-lg-none mobile-burger-menu'>
    <div class='row d-flex align-items-center mobile-menu'>
        <!-- Логотип и бургер меню для мобильных -->
        <div class='col-3 d-flex align-items-center'>
            <!-- Логотип -->
            <img src="media/icons/logo.png" alt="logo" class='logo'>
        </div>
        <div class='col-9 d-flex justify-content-end'>
            <!-- Бургер иконка для мобильных -->
            <div class='burger-menu' id='burger' onclick="document.getElementById('mobileMenu').classList.remove('d-none')">
                ☰ <!-- Юникод для иконки бургера -->
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно меню (скрыто по умолчанию) -->
<div id="mobileMenu" class="modal-menu d-none">
    <div class="menu-content">
        <button class="close-btn" id="closeMenu">×</button>
        <div class="mobile-header-elements">
            <!-- Логотип -->
            <div class="mobile-logo mb-3">
                <img src="media/icons/logo.png" alt="logo" class='logo'>
            </div>
            <hr>
            <!-- Контактная информация -->
            <div class="contact-block mb-3">
                <div class="d-flex align-items-center">
                    <img src="media/icons/phone.png" alt="" class="contact_icon_phone">
                    <div>
                        <p class="contacts">+7 964 650 03 02</p>
                        <p class="contacts">900-302</p>
                    </div>
                </div>
            </div>
            <!-- Иконки соцсетей -->
            <div class="social-icons d-flex">
                <a href="https://t.me/To_hell_forever"><img src="media/icons/telegram.png" alt="" class='contact_icon'></a>
                <a href="https://wa.me/79960521646"><img src="media/icons/whatsapp.png" alt="" class='contact_icon'></a>
                <a href="https://max.ru/u/f9LHodD0cOJtavduYdK7ZtD21Fd_YO8TFXzv-AU2hiDjP37UOZyCI68rZJk"><img src="media/icons/max.png" alt="" class='contact_icon'></a>
            </div>
            <div class="mb-3">
                <button class='header_button open-modal'>Заказать звонок</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
  <!-- Карусель для десктопа (скрыта на мобильных) -->
  <div class="swiper mySwiper d-none d-md-block">
    <div class="swiper-wrapper">
      {% for dekstop_banner in dekstop_banners %}
        <div class="swiper-slide">
          <img src="{{ dekstop_banner.image.url }}" alt="" class='img-carousel'>
          <div class="swiper-slide-nav">
            <div class="swiper-slide-prev"><img src="media/image.png" alt="" ></div>
            <div class="swiper-slide-next"><img src="media/image.png" alt=""></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Карусель для мобильных (скрыта на десктопе) -->
  <div class="swiper mySwiper d-md-none">
    <div class="swiper-wrapper">
      {% for mobile_banner in mobile_banners %}
        <div class="swiper-slide">
          <img src="{{ mobile_banner.image.url }}" alt="" class='img-carousel'>
          <div class="swiper-slide-nav">
            <div class="swiper-slide-prev"><img src="media/image.png" alt="" ></div>
            <div class="swiper-slide-next"><img src="media/image.png" alt=""></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% comment %} block1 с 6 иконками {% endcomment %}
<div class='container' style='margin-top: 50px'>
  <h1>ПОЧЕМУ МЫ?</h1>
  <div class='row' style='align-items: stretch;'>
      <div class='col-4' style='display: flex; flex-direction: column;'>
        <img src="media/icons/block1/дизайн.svg" alt="" class='icon-block1'>
        <p class='block1-head'>Индивидуальный дизайн</p>
        <p class='block1-text'>Дизайн потолка на ваш вкус: как классический как классический белый, так и цветные, фотопечать.</p>
      </div>
      <div class='col-4' style='display: flex; flex-direction: column;'>
        <img src="media/icons/block1/замер.svg" alt="" class='icon-block1'>
        <p class='block1-head'>Бесплатный замер</p>
        <p class='block1-text'>Бесплатный замер по Иркутску и Иркутской области.</p>
      </div>
      <div class='col-4' style='display: flex; flex-direction: column;'>
        <img src="media/icons/block1/конструкция.svg" alt="" class='icon-block1'>
        <p class='block1-head'>Виды конструкций</p>
        <p class='block1-text'>Одноуровневые, многоуровневые, парящие потолки - реализуем любые ваши идеи.</p>
      </div>
      <div class='col-4' style='display: flex; flex-direction: column;'>
        <img src="media/icons/block1/освещение.svg" alt="" class='icon-block1'>
        <p class='block1-head'>Световое оформление</p>
        <p class='block1-text'>Классическое точечное освещение, световые линии, треки, контурные подсветки.</p>
      </div>
      <div class='col-4' style='display: flex; flex-direction: column;'>
        <img src="media/icons/block1/эко.svg" alt="" class='icon-block1'>
        <p class='block1-head'>Экологичность и безопасность</p>
        <p class='block1-text'>Используем экологичные и пожаробезопасные материалы, обеспечивая чистоту и аккуратность монтажа.</1>
      </div>
      <div class='col-4' style='display: flex; flex-direction: column;'>
        <img src="media/icons/block1/про.svg" alt="" class='icon-block1'>
        <p class='block1-head'>Профессионализм и аккуратность</p>
        <p class='block1-text'>Осуществляем замеры и монтаж натяжных потолков. Работаем чисто и аккуратно, без запаха.</p>
      </div>
    </div>
</div>


{% comment %} блок с стоимостью услуг {% endcomment %}
<div class='container mt-5'>
  <h1>СТОИМОСТЬ УСЛУГ</h1>
  <div class='row mt-3'>
    {% for product in products %}
      <div class='col-md-4 col-6 d-flex justify-content-center'>
        <div class='product-card'>
          <img src="{{ product.image.url }}" class='product-image' alt="{{ product.title }}">
          <h3 class='product-title'>{{ product.title }}</h3>
          {% comment %} оставить только основной ценник без цифр после запятй {% endcomment %}
          <p class='product-price'>от {{ product.price|floatformat:0 }} руб./м²</p>
            {% comment %} ссылка на форму {% endcomment %}
            <button class='product-button' type=" button" href="#request-form"><a href="#request-form" class='product-link'>Заказать замер</a></button>
          </div>
      </div>
    {% endfor %}
  </div>
</div>


{% comment %} блок с формой {% endcomment %}
<div class='container mt-5'>
  <form class='request-form' id='request-form' method="post" action="">
    {% csrf_token %}
    <div class='row mb-3'>
      <div class='text-in-form'>
        <h2>Заказать рассчёт стоимости потолка</h2>
        <p class='text-form'>Заполните параметры, которые вам известны</p>
      </div>
      <div class='col-md-3'>
        <input type='number' class='form-control' id='area' name='area' placeholder='Площадь потолка (м)'>
      </div>
      <div class='col-md-3'>
        <input type='number' class='form-control' id='corners' name='corners' placeholder='Количество углов (шт)'>
      </div>
      <div class='col-md-3'>
        <input type='number' class='form-control' id='lights' name='lights' placeholder='Светильники (шт)'>
      </div>
      <div class='col-md-3'>
        <input type='number' class='form-control' id='pipes' name='pipes' placeholder='Кол.во труб (шт)'>
      </div>
    </div>
    <div class='row mb-3'>
      <div class='col-md-3'>
        <input type='text' class='form-control' id='ceiling_type' name='ceiling_type' placeholder='Вид потолка'>
      </div>
      <div class='col-md-6'>
        <textarea class='form-control' id='comment' name='comment' rows='1' placeholder='Комментарий'></textarea>
      </div>
      <div class='col-md-3'>
        <input type='tel' class='form-control' id='phone' name='phone' placeholder='Ваш телефон' required>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12 text-center'>
        <button type='submit' class='btn btn-primary submit-button'>Отправить на расчет</button>
      </div>
    </div>
  </form>

  <!-- Блок для отображения результата отправки -->
  <div id="form-result" class="mt-4" style="display: none;">
    <div class="alert alert-success">
      <h4>Спасибо за ваш заказ!</h4>
      <p id="result-message">Ваш заказ успешно отправлен. Мы свяжемся с вами в ближайшее время.</p>
    </div>
  </div>

  <!-- Уведомления в правом нижнем углу -->
  <div id="notification" class="notification"></div>
</div>


<div class="container mt-5">
  <h1>ПРИМЕРЫ РАБОТ С ЦЕНАМИ</h1>

  <!-- Десктоп версия (показывается на больших экранах) -->
  <div class="row mt-3 d-none d-md-flex">
    {% for work in profiles %}
    <div class="col-md-4 col-xs-12 mb-4">
      <div class='work-card'>
        <img src="{{ work.image.url }}" class='work-image' alt="{{ work.title }}">
        <div class="work-details-container">
          <div class="work-details">
          <h3 class="work-name mt-2">{{ work.name }}</h3>
            <div class="detail-row">
              <span class="detail-label">Площадь:</span>
              <span class="detail-value">{{ work.area|floatformat:0 }} м²</span>
            </div>
            <hr>
            <div class="detail-row">
              <span class="detail-label">Кол-во углов:</span>
              <span class="detail-value">{{ work.angles }} шт.</span>
            </div>
            <hr>
            <div class="detail-row">
              <span class="detail-label">Профиль:</span>
              <span class="detail-value">{{ work.profile }}</span>
            </div>
            <hr>
            <div class="detail-row">
              <span class="detail-label price-value">Цена:</span>
              <span class="detail-value price-value">{{ work.price|floatformat:0 }} руб./м²</span>
            </div>
          </div>
        </div>
        <button class='product-button' type=" button"><a href="#request-form" class='product-link'>Заказать замер</a></button>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Мобильная версия (карусель) -->
  <div class="d-md-none mt-3">
    <div class="swiper work-swiper-mobile">
      <div class="swiper-wrapper">
        {% for work in profiles %}
        <div class="swiper-slide">
          <div class='work-card'>
            <img src="{{ work.image.url }}" class='work-image' alt="{{ work.title }}">
            <div class="work-details-container">
              <div class="work-details">
              <h3 class="work-name mt-2">{{ work.name }}</h3>
                <div class="detail-row">
                  <span class="detail-label">Площадь:</span>
                  <span class="detail-value">{{ work.area|floatformat:0 }} м²</span>
                </div>
                <hr>
                <div class="detail-row">
                  <span class="detail-label">Кол-во углов:</span>
                  <span class="detail-value">{{ work.angles }} шт.</span>
                </div>
                <hr>
                <div class="detail-row">
                  <span class="detail-label">Профиль:</span>
                  <span class="detail-value">{{ work.profile }}</span>
                </div>
                <hr>
                <div class="detail-row">
                  <span class="detail-label price-value">Цена:</span>
                  <span class="detail-value price-value">{{ work.price|floatformat:0 }} руб./м²</span>
                </div>
              </div>
            </div>
            <button class='product-button' type=" button"><a href="#request-form" class='product-link'>Заказать замер</a></button>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Навигация для мобильной карусели -->
      <div class="work-swiper-next"><img src="media/icons/arrow-next.png" alt="Next"></div>
      <div class="work-swiper-prev"><img src="media/icons/arrow-prev.png" alt="Prev"></div>
    </div>
  </div>
</div>


{% comment %} ДЛЯ ГАЛЕРЕИ РАБОТ {% endcomment %}
<div class='container mt-5'>
  <h1>ГАЛЕРЕЯ РАБОТ</h1>

  <!-- Десктоп версия (показывается на больших экранах) -->
  <div class="row mt-4 d-none d-md-flex">
    {% for gallery in galleries %}
      {% for image in gallery.images.all|slice:"0:20" %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{ image.image.url }}" alt="Фото из галереи" class="card-img-top">
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  <!-- Мобильная версия (карусель) -->
  <div class="d-md-none mt-4">
    <div class="swiper gallery-swiper-mobile">
      <div class="swiper-wrapper">
        {% for gallery in galleries %}
          {% for image in gallery.images.all|slice:"0:20" %}
            <div class="swiper-slide">
              <div class="card">
                <img src="{{ image.image.url }}" alt="Фото из галереи" class="card-img-top">
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      <!-- Навигация для мобильной карусели -->
      <div class="gallery-swiper-next"><img src="media/icons/arrow-next.png" alt="Next"></div>
      <div class="gallery-swiper-prev"><img src="media/icons/arrow-prev.png" alt="Prev"></div>
    </div>
  </div>
</div>


{% comment %} БЛОК Преимущества натяжных потолков {% endcomment %}
<div class='container-fluid mt-5' style='background-color: rgba(41, 37, 73, 1); margin-top: 150px !important;'>
  <div class='container'>
    <div class='row' style='align-items: stretch;'>
      <h4 style='margin-top: 5vw;'>ПРЕИМУЩЕСТВА НАТЯЖНЫХ ПОТОЛКОВ</h4>
    <div class='col-4 block2' style='display: flex; flex-direction: column;'>
      <img src="media/icons/block2/текстур.svg" alt="" class='icon-block2'>
      <p class='block2-head'>Разнообразие текстур</p3>
      <p class='block2-text'>Классические матовые, современные глянцевые и сатиновые поверхности.</p1>
    </div>
    <div class='col-4 block2' style='display: flex; flex-direction: column;'>
      <img src="media/icons/block2/инливид решения.svg" alt="" class='icon-block2'>
      <p class='block2-head'>Индивидуальные решения</p3>
      <p class='block2-text'>Возможность выбора потолка под любой стиль интерьера.</p>
    </div>
    <div class='col-4 block2' style='display: flex; flex-direction: column;'>
      <img src="media/icons/block2/освещение 2.svg" alt="" class='icon-block2'>
      <p class='block2-head'>Уникальные варианты освещения</p>
      <p class='block2-text'>Встроенные светильники, эффектные подсветки и многое другое.</p>
    </div>
    <div class='col-4 block2 mb-5' style='display: flex; flex-direction: column;'>
      <img src="media/icons/block2/уход.svg" alt="" class='icon-block2'>
      <p class='block2-head'>Простота ухода</p3>
      <p class='block2-text'>Легкость в обслуживании и долговечность материалов</p>
    </div>
    <div class='col-4 block2 mb-5' style='display: flex; flex-direction: column;'>
      <img src="media/icons/block2/скрыть дефекты.svg" alt="" class='icon-block2'>
      <p class='block2-head'>Возможность скрыть неровности и дефекты</p>
      <p class='block2-text'>Возможность выбора потолка под любой стиль интерьера.</p1>
    </div>
  </div>
  </div>
</div>


{% comment %} КОНТАКТНЫЙ БЛОК {% endcomment %}
<div class='container-fluid contact-container'>
    <div class='centered-box'>
        <h5>ТВОЙ НАТЯЖНОЙ</h5>
        <span class='contact-text'>Звонить по телефону: <span class='contact-text2'>+7 964 650 03 02</span></span>
        <span class='contact-text'>900-302</span>
        <span class='contact-text'>Андрес: г. Иркутск, <span class='contact-text2'>м-н Университетский 43</span></span>
    </div>
</div>


{% comment %} блок меню {% endcomment %}
<div class='container d-none d-lg-block'>
    <div class='row d-flex align-items-center'>
        <div class='col-3'>
            {% comment %} Логотип {% endcomment %}
            <img src="media/icons/logo.png" alt="logo" class='logo'>
        </div>
        <div class='col-3'>
            {% comment %} кнопка {% endcomment %}
            <button class='header_button open-modal'>Заказать звонок</button>
        </div>
        <div class='col-3'>
            <div class="d-flex align-items-center contact-block">
                <img src="media/icons/phone.png" alt="" class="contact_icon_phone">
                <div>
                    <p class="contacts">+7 964 650 03 02</p>
                    <p class="contacts">900-302</p>
                </div>
            </div>
        </div>
        <div class='col-3 social-icons'>
            {% comment %} иконки в строку{% endcomment %}
            <a href="https://t.me/To_hell_forever"><img src="media/icons/telegram.png" alt="" class='contact_icon'></a> 
            <a href="https://wa.me/79960521646"><img src="media/icons/whatsapp.png" alt="" class='contact_icon'></a>
            <a href="https://max.ru/u/f9LHodD0cOJtavduYdK7ZtD21Fd_YO8TFXzv-AU2hiDjP37UOZyCI68rZJk"><img src="media/icons/max.png" alt="" class='contact_icon'></a>
        </div>
    </div>
</div>


{% comment %} блок с модальным окном {% endcomment %}
<div class="modal overlay" id="callback-modal" tabindex="-1" role="dialog" aria-labelledby="callbackModalLabel" inert>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close-modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h6 class="modal-title">Есть вопросы?</h6>
        <h6 class="modal-title">Закажи обратный звонок!</h6>
        <p class='modal-text mt-4'>Мы позвоним и ответим на все вопросы.</p>
        <input type="tel" class="form-input" placeholder="Напишите ваш номер" />
        <button class="modal-button">Отправить</button>
        <p class='modal-text mt-3'>Или свяжитесь с нами</p>
        <p class='modal-text'>+7 964 650 03 02</p>
        <p class='modal-text'>900-302</p>
        <div class="icon-container">
          <a href="https://t.me/To_hell_forever"><img src="media/icons/telegram.png" alt="" class='contact_icon_modal'></a>
          <a href="https://wa.me/79960521646"><img src="media/icons/whatsapp.png" alt="" class='contact_icon_modal'></a>
          <a href="https://max.ru/u/f9LHodD0cOJtavduYdK7ZtD21Fd_YO8TFXzv-AU2hiDjP37UOZyCI68rZJk"><img src="media/icons/max.png" alt="" class='contact_icon_modal'></a>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
