name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          
          # Можно добавить port, например: port: 22
          
          # Скрипт для выполнения
          script: |
            cd /home/x/your_stretch
            sudo /bin/systemctl stop gunicorn_your_stretch
            git pull origin main
            /home/x/.local/bin/poetry install --no-root
            /home/x/.local/bin/poetry run python manage.py migrate
            echo "${{ secrets.ENV_FILE }}" > .env
            /home/x/.local/bin/poetry run python manage.py collectstatic --noinput
            sudo /bin/systemctl start gunicorn_your_stretch